In [2]:
import json
import pandas as pd
import pickle

In [3]:
with open('proj5_params.json', 'r') as filename:
    parameters = json.load(filename)

## Exercise 1

In [4]:
ex01_df = pd.read_csv('proj5_timeseries.csv')
ex01_df.columns = ex01_df.columns.str.lower()
ex01_df.columns = ex01_df.columns.str.replace('[^a-zA-Z]', '_', regex=True)
ex01_df.head()

         date  consumption  wind  solar  wind_solar
0  2006-01-01     1069.184   NaN    NaN         NaN
1  2006-01-02     1380.521   NaN    NaN         NaN
2  2006-01-03     1442.533   NaN    NaN         NaN
3  2006-01-04     1457.217   NaN    NaN         NaN
4  2006-01-05     1477.131   NaN    NaN         NaN

In [5]:
first_column = ex01_df.columns[0]
ex01_df[first_column] = pd.to_datetime(ex01_df[first_column])
ex01_df = ex01_df.set_index(first_column)
original_frequency = parameters['original_frequency']
ex01_df.head()

            consumption  wind  solar  wind_solar
date
2006-01-01     1069.184   NaN    NaN         NaN
2006-01-02     1380.521   NaN    NaN         NaN
2006-01-03     1442.533   NaN    NaN         NaN
2006-01-04     1457.217   NaN    NaN         NaN
2006-01-05     1477.131   NaN    NaN         NaN

In [6]:
ex01_df.index

DatetimeIndex(['2006-01-01', '2006-01-02', '2006-01-03', '2006-01-04',
               '2006-01-05', '2006-01-06', '2006-01-07', '2006-01-08',
               '2006-01-09', '2006-01-10',
               ...
               '2017-12-22', '2017-12-23', '2017-12-24', '2017-12-25',
               '2017-12-26', '2017-12-27', '2017-12-28', '2017-12-29',
               '2017-12-30', '2017-12-31'],
              dtype='datetime64[ns]', name='date', length=4383, freq=None)

In [7]:
ex01_df = ex01_df.asfreq(original_frequency)

In [8]:
ex01_df.index

DatetimeIndex(['2006-01-01', '2006-01-02', '2006-01-03', '2006-01-04',
               '2006-01-05', '2006-01-06', '2006-01-07', '2006-01-08',
               '2006-01-09', '2006-01-10',
               ...
               '2017-12-22', '2017-12-23', '2017-12-24', '2017-12-25',
               '2017-12-26', '2017-12-27', '2017-12-28', '2017-12-29',
               '2017-12-30', '2017-12-31'],
              dtype='datetime64[ns]', name='date', length=4383, freq='D')

In [9]:
ex01_df.to_pickle('proj5_ex01.pkl')

# Exercise 2

In [10]:
ex02_df = ex01_df.copy()
print(ex02_df.head(5))
target_frequency = parameters['target_frequency']
print(target_frequency)
ex02_df = ex02_df.asfreq(target_frequency)
print(ex02_df.index)
ex02_df.to_pickle('proj5_ex02.pkl')

            consumption  wind  solar  wind_solar
date
2006-01-01     1069.184   NaN    NaN         NaN
2006-01-02     1380.521   NaN    NaN         NaN
2006-01-03     1442.533   NaN    NaN         NaN
2006-01-04     1457.217   NaN    NaN         NaN
2006-01-05     1477.131   NaN    NaN         NaN
w
DatetimeIndex(['2006-01-01', '2006-01-08', '2006-01-15', '2006-01-22',
               '2006-01-29', '2006-02-05', '2006-02-12', '2006-02-19',
               '2006-02-26', '2006-03-05',
               ...
               '2017-10-29', '2017-11-05', '2017-11-12', '2017-11-19',
               '2017-11-26', '2017-12-03', '2017-12-10', '2017-12-17',
               '2017-12-24', '2017-12-31'],
              dtype='datetime64[ns]', name='date', length=627, freq='W-SUN')

## Exercise 3

In [11]:
print(parameters)

{'original_frequency': 'd', 'target_frequency': 'w', 'downsample_periods': 3, 'downsample_units': 'd', 'upsample_periods': 2, 'upsample_units': 'h', 'interpolation': 'polynomial', 'interpolation_order': 3, 'sensors_periods': 10, 'sensors_units': 's'}

In [12]:
downsample_periods = parameters['downsample_periods']
downsample_units = parameters['downsample_units']
print(downsample_periods, downsample_units)

3 d

In [13]:
ex03_df = ex01_df.resample(f'{downsample_periods}{downsample_units}').sum(min_count=downsample_periods)
ex03_df

            consumption      wind   solar  wind_solar
date
2006-01-01   3892.23800       NaN     NaN         NaN
2006-01-04   4337.77500       NaN     NaN         NaN
2006-01-07   4037.59500       NaN     NaN         NaN
2006-01-10   4707.36700       NaN     NaN         NaN
2006-01-13   4170.42200       NaN     NaN         NaN
...                 ...       ...     ...         ...
2017-12-17   4462.39225   484.667  37.310     521.977
2017-12-20   4503.29557   578.692  26.177     604.869
2017-12-23   3525.21153  2148.306  34.164    2182.470
2017-12-26   3693.92172  1618.384  61.615    1679.999
2017-12-29   3617.65138  2026.700  57.301    2084.001

[1461 rows x 4 columns]

In [14]:
ex03_df.to_pickle('proj5_ex03.pkl')

## Exercise 4

In [15]:
upsample_periods = parameters['upsample_periods']
upsample_units = parameters['upsample_units']
interpolation = parameters['interpolation']
interpolation_order = parameters['interpolation_order']
print(upsample_periods, upsample_units, interpolation, interpolation_order)

2 h polynomial 3

In [16]:
ex04_df = ex01_df.resample(f'{upsample_periods}{upsample_units}').interpolate(interpolation, order=interpolation_order)
print(ex04_df.index.freq / ex01_df.index.freq)
ex04_df = ex04_df * (ex04_df.index.freq / ex01_df.index.freq)

0.08333333333333333

In [17]:
ex04_df

                     consumption       wind     solar  wind_solar
date
2006-01-01 00:00:00    89.098667        NaN       NaN         NaN
2006-01-01 02:00:00    92.515716        NaN       NaN         NaN
2006-01-01 04:00:00    95.668110        NaN       NaN         NaN
2006-01-01 06:00:00    98.566792        NaN       NaN         NaN
2006-01-01 08:00:00   101.222704        NaN       NaN         NaN
...                          ...        ...       ...         ...
2017-12-30 16:00:00    95.117424  63.173803  0.423908   63.597711
2017-12-30 18:00:00    94.371167  62.769170  0.626352   63.395522
2017-12-30 20:00:00    93.643499  62.132939  0.897118   63.030057
2017-12-30 22:00:00    92.938331  61.248189  1.241551   62.489741
2017-12-31 00:00:00    92.259573  60.098000  1.665000   61.763000

[52585 rows x 4 columns]

In [18]:
ex04_df.to_pickle('proj5_ex04.pkl')

## Exercise 5

In [48]:
with open('proj5_sensors.pkl', 'rb') as filename:
    ex05_df = pickle.load(filename)

ex05_df.head()

                     device_id    value
timestamp
2022-11-25 00:00:25         25  6.69375
2022-11-25 00:01:25         25  6.72500
2022-11-25 00:02:25         25  6.75625
2022-11-25 00:03:25         25  6.78750
2022-11-25 00:04:25         25  6.81875

In [49]:
sensors_periods = parameters['sensors_periods']
sensors_units = parameters['sensors_units']
print(sensors_periods, sensors_units)

10 s

In [26]:
ex05_df = ex05_df.pivot(columns='device_id', values='value')
ex05_df

device_id,25,26,27,28,29,30,31,32,33,34,...,38,39,40,41,42,43,44,45,46,47
timestamp,,,,,,,,,,,,,,,,,,,,,
2022-11-25 00:00:03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-25 00:00:04,NaN,NaN,NaN,5.6,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-25 00:00:08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-25 00:00:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-25 00:00:12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7.7,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-27 23:59:47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.133333,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-27 23:59:50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.584211,NaN,NaN,NaN,NaN
2022-11-27 23:59:51,NaN,NaN,NaN,NaN,NaN,6.094737,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-27 23:59:55,NaN,NaN,5.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-27 23:59:59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
ex05_df = ex05_df.resample(f'{sensors_periods}{sensors_units}').interpolate()
ex05_df

device_id,25,26,27,28,29,30,31,32,33,34,...,38,39,40,41,42,43,44,45,46,47
timestamp,,,,,,,,,,,,,,,,,,,,,
2022-11-25 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-25 00:00:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-25 00:00:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.237500,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-25 00:00:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.239583,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-25 00:00:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.241667,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-27 23:59:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.300000,NaN,NaN,5.573684,NaN,NaN,NaN,NaN
2022-11-27 23:59:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.300000,NaN,NaN,5.576316,NaN,NaN,NaN,NaN
2022-11-27 23:59:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.300000,NaN,NaN,5.578947,NaN,NaN,NaN,NaN
2022-11-27 23:59:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.300000,NaN,NaN,5.581579,NaN,NaN,NaN,NaN
2022-11-27 23:59:50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.300000,NaN,NaN,5.584211,NaN,NaN,NaN,NaN

In [28]:
ex05_df = ex05_df.dropna()
ex05_df

Empty DataFrame
Columns: [25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47]
Index: []

[0 rows x 23 columns]

In [29]:
ex05_df.to_pickle('proj5_ex05.pkl')